<!DOCTYPE html>
<html>
<head>
    <title>Cognitive Load Monitor</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- MediaPipe -->
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh/face_mesh.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-gauge@0.3.0/dist/chartjs-chart-gauge.min.js"></script>
    <style>
        body { font-family: Arial; text-align: center; }
        video { transform: scaleX(-1); }
        .alert { color: red; font-weight: bold; }
    </style>
    <style>
        body {
            background-color: #f5f7fa;
        }
        .sidebar {
            height: 100vh;
            background: #1e293b;
            color: white;
        }
        .sidebar a {
            color: #cbd5e1;
            text-decoration: none;
        }
        .sidebar a:hover {
            color: white;
        }
    </style>
</head>
<body>

<div class="container-fluid">
    <div class="row">

        <!-- Sidebar -->
        <div class="col-md-2 sidebar p-4">
            <h4>🧠 NeuroWatch</h4>
            <hr>
            <p><a href="/">Dashboard</a></p>
            <p><a href="#">Analytics</a></p>
            <p><a href="#">Reports</a></p>
            <hr>
            <p><a href="/logout/">Logout</a></p>
        </div>

        <!-- Main Content -->
        <div class="col-md-10 p-4">
            {% block content %}
            {% endblock %}
        </div>

    </div>
</div>

</body>
</html>